.template-footer {
    height: 200px;
    width: 100%;
    margin-top: 100px;
    background: #262626;
}

@media (min-width: 0) and (max-width: 767px) {
    body{
        min-width: 400px;
    }

    .sidebar{
        height: 70px;
        background: #262626;
        margin: 0;
        max-width: 100%;
    }
        .sidebar-logo {
            color: #b2b2b2;
            margin-top: 15px;
        }
            .sidebar-logo-text {
                font-family: Monotype Corsiva, Cursive, serif;
                font-size:20pt;
                color:#b2b2b2;
            }

        .sidebar-search {
            display: none;
        }

        .sidebar-buttons {
            display: none;
        }

        .sidebar-icon {
            display: none;
        }
}
@media (min-width: 768px)  and (max-width: 1199px) {
    .sidebar{
        height: 70px;
        background: #262626;
        margin: 0;
        max-width: 100%;
    }
        .sidebar-logo {
            color: #b2b2b2;
            margin-top: 17px;
        }
            .sidebar-logo-text {
                font-family: Monotype Corsiva, Cursive, serif;
                font-size:18pt;
                color:#b2b2b2;
            }

        .sidebar-search {
            width: 90%;
            height: 50px;
            top: 70px;
            left: 20%;
            /*padding-left: 10%;*/
            background:linear-gradient(45deg, transparent 50px, #262626 0); !important;
            position: fixed;
        }
            .sidebar-search-input {
                margin-left: 15%;
                margin-top: 7px;
                background: #b2b2b2;
                border: #262626 solid 2px;
                color: #262626;
            }

        .sidebar-buttons {
            margin-top: 12px;
        }
            .sidebar-buttons-btn {
                height: auto;
                text-align: center;
                color: #262626;
                padding: 10px 10px;
                background: #787878;
                cursor: pointer;
                border: #262626 solid 1px;
            }
        .sidebar-icon {
            color: #b2b2b2;
            margin-left: 5%;
        }
            .sidebar-icon-btn {
                height: 55px;
                width: 55px;
                background: #787878;
                float: left;
                margin: 10px;
                border-radius: 40px;
                cursor: pointer;
                text-align: center;
            }
                .sidebar-icon-btn-text {
                    color: #262626;
                    font-size: 15px;
                    position: relative;
                    top: 15px;
                }
}
@media (min-width: 1200px) {
    .sidebar{
        height: 70px;
        background: #262626;
        margin: 0;
        max-width: 100%;
    }
        .sidebar-logo {
            color: #b2b2b2;
            margin-top: 15px;
        }
            .sidebar-logo-text {
                font-family: Monotype Corsiva, Cursive, serif;
                font-size:20pt;
                color:#b2b2b2;
            }

        .sidebar-search {
            margin-top: 20px;
        }
            .sidebar-search-input {
                width: 100%;
                background: #b2b2b2;
                border: #262626 solid 2px;
                color: #262626;
            }

        .sidebar-buttons {
            margin-top: 12px;
        }
            .sidebar-buttons-btn {
                height: auto;
                text-align: center;
                color: #262626;
                padding: 10px 10px;
                background: #787878;
                cursor: pointer;
                border: #262626 solid 1px;
            }
        .sidebar-icon {
            color: #b2b2b2;
        }
            .sidebar-icon-btn {
                height: 55px;
                width: 55px;
                background: #787878;
                float: left;
                margin: 7px;
                border-radius: 40px;
                cursor: pointer;
                text-align: center;
            }
                .sidebar-icon-btn-text {
                    color: #262626;
                    font-size: 15px;
                    position: relative;
                    top: 15px;
                }
}



.selected {
    background: #b2b2b2;
}

.pointed {
    background: #b2b2b2;
}

.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
